.icon-ocr {
	background-image: url('../img/icon/ocr.svg');
}

.choices__list--multiple .choices__item {
	background-color: var(--color-primary);
	border: none;
	color: var(--color-primary-text);
}

.choices__list--multiple .choices__item.is-highlighted {
	background-color: var(--color-primary);
	border: 1px solid #3d3d3d;
}

.choices__list--dropdown .choices__list {
	max-height: 150px;
}

.ocr-modal {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 10000;
	display: block;
	width: 100%;
	height: 100%;
	overflow: hidden;
	outline: 0;
}

.ocr-modal-dialog {
	position: relative;
	width: auto;
	margin: 0.5rem;
	pointer-events: none;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	min-height: calc(100% - 1rem);
	max-height: calc(100% - 1rem);
	height: 100%;
}

.ocr-modal-dialog::before {
	display: block;
	height: calc(100vh - 1rem);
	content: none;
}

.ocr-modal-content {
	position: relative;
	display: flex;
	flex-direction: column;
	width: 100%;
	pointer-events: auto;
	background-color: #fff;
	background-clip: padding-box;
	border-radius: var(--border-radius-large);
	outline: 0;
	max-height: none;
	overflow: auto;
}

.ocr-modal-body {
	position: relative;
	flex: 1 1 auto;
	padding: 1rem;
	overflow-y: auto;
	min-height: 200px;
}

.ocr-modal-body>.choices {
	max-width: calc(100% - 1rem);
}

.ocr-modal-backdrop {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 9999;
	width: 100vw;
	height: 100vh;
	background-color: #000;
	opacity: 0.5;
}

.ocr-modal-header {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	flex-shrink: 0;
	padding: 1rem 1rem;
	border-top-left-radius: var(--border-radius-large);
	border-top-right-radius: var(--border-radius-large);
}

.ocr-modal-title {
	margin-bottom: 0;
	line-height: 1.5;
}

.ocr-modal-footer {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-shrink: 0;
	padding: 1rem;
	border-bottom-right-radius: var(--border-radius-large);
	border-bottom-left-radius: var(--border-radius-large);
}

.ocr-modal-footer> :not(:first-child) {
	margin-left: .25rem;
}

.ocr-modal-footer> :not(:last-child) {
	margin-right: .25rem;
}

@media (min-width: 576px) {
	.ocr-modal-dialog {
		min-height: calc(100% - 3.5rem);
		max-height: calc(100% - 3.5rem);
		max-width: 500px;
		margin: 1.75rem auto;
	}
	.ocr-modal-content {
		max-height: calc(100vh - 3.5rem);
	}
	.ocr-modal-dialog::before {
		height: calc(100vh - 3.5rem);
	}
}

.ocr-close {
	float: right;
	font-size: 1.5rem;
	font-weight: 700;
	line-height: 1;
	text-shadow: 0 1px 0 #fff;
	opacity: .5;
	background-color: transparent;
	border: 0;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	padding: 1rem 1rem;
	margin: -1rem -1rem -1rem auto;
}

.ocr-close:hover {
	text-decoration: none;
	opacity: .75;
}

.ocr-close:focus {
	opacity: .75;
}

.ocr-close>span {
	cursor: pointer;
}

.ocr-hidden {
	display: none;
}

.ocr-progress-wrapper {
	display: flex;
	flex: 1 1 auto;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.ocr-progress-wrapper>div {
	padding-bottom: 4px;
}

.ocr-loading {
	margin: 10px;
}

.ocr-progress-wrapper.ocr-hidden {
	display: none;
}

.ocr-fill {
	flex: 1 1 auto;
}

.ocr-hint {
	padding: 1rem 0;
	color: #7e7e7e;
}

.ocr-hint>span.icon {
	background-size: 16px 16px;
	display: inline-block;
	vertical-align: sub;
}

.ocr-hint>span:not(:first-child) {
	padding-left: 1rem;
}