.ocrUserInterface{
	display:flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-around;
	position:absolute;
    min-width: 18em;
    max-width: 40em;
	right:0;
	margin-right:10em;
	padding:0.5em;
	background:#eee;
	border-left:1px solid #ccc;
	border-right:1px solid #ccc;
	border-bottom:1px solid #ccc;
	border-bottom-right-radius:1em;
	border-bottom-left-radius:1em;
	z-index:100;
}
.ocrUserInterface .select2-container a {
	padding: 0;
}
input.processOCRButton {
	margin-bottom: 10px;
}
.ocrUserInputSubmit {
    display: flex;
    flex-direction: column;
    align-content: stretch;
    justify-content: center;
}
.ocrUserSelection {
    display: flex;
    flex-direction: column;
    align-content: stretch;
    justify-content: center;
}
.ocrUserSelectionReplace {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
.ocrUserSelectionReplaceLabel {
    font-weight: normal;
}
/* Selcted Files Actions Button */
tr .action:not(.permanent),
.selectedActionsOCR a {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	opacity: 0;
}
tr:hover .action,
tr:focus .action,
tr .action.permanent,
.selectedActionsOCR a {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	opacity: .5;
}
tr:hover .action:hover,
tr:focus .action:focus,
.selectedActionsOCR a:hover,
.selectedActionsOCR a:focus,
.header-action:hover,
.header-action:focus {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	opacity: 1;
}

.icon.icon-loading-small.ocr-row-adjustment {
	padding-top: 2px;
	line-height: 2em;
}

#filestable .filename .action .icon,
#filestable .selectedActionsOCR a .icon,
#controls .actions .button .icon {
	display: inline-block;
	vertical-align: middle;
	background-size: 16px 16px;
}

#filestable .filename .action .icon.hidden,
#filestable .selectedActionsOCR a .icon.hidden,
#controls .actions .button .icon.hidden {
	display: none;
}

#filestable .filename .action .icon.loading,
#filestable .selectedActionsOCR a .icon.loading,
#controls .actions .button .icon.loading {
	width: 15px;
	height: 15px;
}

.icon-ocr {
	background-image: url('../img/icon/ocr.svg');
}

.pad-for-icon {
	padding-left: 5px;
}

