<div id="ocrSelect">
    <select id="ocrLanguages" multiple="multiple">
        {{#each languages}}
        <option value="{{@key}}">{{this}}</option>
        {{/each}}
    </select>
    <div class="ocr-hint"><span class="icon icon-details"></span><span>{{hint}}</span></div>
    <button id="ocrLanguagesSave">{{buttonText}}</button>
</div>