<div id="ocrDropdown" class="ocrUserInterface">
    <select id="ocrLanguage" class="multiselect" multiple="multiple">
            {{#each languages}}
                <option value="{{this}}">{{this}}</option>
            {{/each}}
        </select>
    <input type="button" id="processOCR" class="processOCRButton" value="{{buttonText}}" />
</div>